@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

.left-div {
  padding-left: 5%;
}
h1,
.boton,
.boton-flecha {
  font-family: "Luckiest Guy", cursive;
}
.input {
  font-family: "Luckiest Guy", cursive;
  font-size: medium;
}
.titulo {
  font-size: xxx-large;
}
.boton-flecha {
  font-size: xxx-large;
}
.container {
  text-align: center;
  padding: 1em;
  /* background-color: rgba(0, 0, 0, 0.705); */
}

.mat-success {
  background-color: rgb(0, 187, 0);
  color: #fff;
}
.mat-accent {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.card {
  cursor: pointer;
}
.selected-card {
  margin: 20px;
}
.showing-card {
  max-width: 10px;
  max-height: 10px;
}

.bar {
  padding-top: 2%;
  padding-bottom: 10%;
}
.input-buscar {
  margin: 10px;
  width: 400px;
}
.boton-buscar {
  margin: 10px;
  height: 40px;
  width: 40px;
}
