@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

.container {
  padding: 3%;
  padding-bottom: 0%;
  overflow-x: hidden;
}
.div-titulo {
  background-color: rgb(132, 185, 255);
  /* background-color: rgba(175, 175, 175, 0.705); */
  padding: 3vmin;
  padding-bottom: 0;
}
h1,
.boton,
.boton-flecha {
  font-family: "Luckiest Guy", cursive;
}
.titulo {
  font-size: xxx-large;
  padding-top: 1%;
  color: #000;
}
.acciones {
  padding-left: 20px;
}
.div-cards {
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
}

.card {
  background-color: #f5bd8f;
  width: 165vmin;
  height: 2vmin;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 3vmin;
}
.card-title {
  font-size: 5vmin;
}
.card-text {
  font-size: 3vmin;
  width: fit-content;
  height: fit-content;
}
.icon-card {
  height: 15vmin;
  width: 15vmin;
  cursor: pointer;
}

.icon-imagen {
  width: 14vmin;
  height: 12.5vmin;
}
.boton {
  margin-right: 2vmin;
  margin-left: 1vmin;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
  height: 9vmin;
  width: 15vmin;
}

.boton-play {
  margin-left: 6vmin;

  font-size: 10vmin;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.mat-success {
  background-color: rgb(0, 187, 0);
  color: #fff;
}
.boton-crear {
  font-family: "Luckiest Guy", cursive;

  font-size: 5vmin;
}

.boton-buscar {
  width: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
