<div class="container mat-typography" fxFill fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1%">
  <mat-card fxLayout="row" fxFill fxFlex="15" class="div-titulo mat-elevation-z2">
    <h1 class="titulo" fxFlex="80">MIS TAREAS</h1>
    <button mat-raised-button [color]="'success'" class="boton-crear" routerLink="/creador" routerLinkActive="active">
      <mat-icon>add_circle</mat-icon>&nbsp;CREAR
    </button>
  </mat-card>
  <div>
    <button mat-raised-button *ngIf="!isPlayed" color="warn" class="boton" (click)="ordenarNombreAsc()">
      Nombre &#9660;
    </button>
    <button mat-raised-button *ngIf="isPlayed" color="warn" class="boton" (click)="ordenarNombreDesc()">
      Nombre &#9650;
    </button>
    <button mat-raised-button *ngIf="!isPlayed1" color="warn" class="boton" (click)="ordenarFecha()">
      Fecha &#9660;
    </button>
    <button mat-raised-button *ngIf="isPlayed1" color="warn" class="boton" (click)="ordenarFecha()">
      Fecha &#9650;
    </button>

    <mat-form-field class="input-buscar">
      <mat-label class="input">Buscar</mat-label>
      <input matInput [(ngModel)]="palabraBuscar" /> </mat-form-field
    >&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="buscar(palabraBuscar)" class="boton-buscar">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
  <div class="div-cards" style="overflow-y: auto;">
    <div *ngFor="let sec of secuencias" fxLayout="row">
      <mat-card class="card" fxLayout="row" fxLayoutGap="10px">
        <div fxLayoutAlign="center center">
          <h1>{{ sec.nombre | uppercase }}</h1>
        </div>
        <div class="acciones" fxLayout="row" fxLayoutAlign="end center" *ngFor="let acc of sec.acciones" fxFlex>
          <mat-card class="icon-card" (click)="ampliarPicto(acc)">
            <img mat-card-image src="{{ acc.src }}" class="icon-imagen" />
            <mat-card-subtitle class="card-text">{{ acc.nombre }}</mat-card-subtitle>
            <img />
          </mat-card>
          <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-icon *ngIf="calcularFlecha(sec, acc)">double_arrow</mat-icon>
        </div>
        <div fxLayout="column" fxLayoutAlign="end end" fxFlex="20">
          <button
            mat-raised-button
            color="primary"
            class="boton"
            [routerLink]="['/creador', sec.idsecuencia]"
            routerLinkActive="active"
          >
            Editar
          </button>
          <button mat-raised-button color="warn" class="boton" (click)="borrarSecuencia(sec)">Borrar</button>
        </div>
      </mat-card>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button
          mat-fab
          [color]="'success'"
          class="boton-play"
          [routerLink]="['/play', sec.idsecuencia]"
          routerLinkActive="active"
        >
          <mat-icon class="icon">
            play_arrow
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
