<div class="container mat-typography" fxFill fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10%">
  <h1>Temporizador</h1>
  <div>
    <h1 class="subt">Color inicial</h1>
    <!-- [style.color]="colorInicial" -->
    <input [(colorPicker)]="colorInicial" [style.background-color]="colorInicial" />
  </div>

  <div>
    <h1 class="subt">Color final</h1>
    <!-- [style.color]="colorFinal" -->
    <input [(colorPicker)]="colorFinal" [style.background-color]="colorFinal" />
  </div>

  <div fxLayout="row" fxFlex="10" fxFill fxLayoutAlign="center center">
    <button
      class="mat-display-2 boton-guardar"
      mat-raised-button
      [color]="'warn'"
      routerLink="/about"
      routerLinkActive="active"
    >
      VOLVER
    </button>
    <button
      class="mat-display-2 boton-guardar"
      mat-raised-button
      [color]="'success'"
      (click)="guardar()"
      routerLink="/about"
      routerLinkActive="active"
    >
      GUARDAR
    </button>
  </div>
</div>
