@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

.container {
  padding: 4%;
}
.div-titulo {
  background-color: rgba(175, 175, 175, 0.705);
}
h1 {
  font-family: "Luckiest Guy", cursive;
}
.titulo {
  font-size: xxx-large;
  padding-top: 1%;
}
.card {
  margin-bottom: 6%;
  /*  background-color: #f5bd8f; */
  background-color: #ffebdb;
}
/* .div-secuencias{
  margin-bottom: 5%;
} */
