<div class="container mat-typography" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%">
  <mat-card class="card1">
    <mat-card-content>
      <h1 class="titulo">Opciones</h1>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <div>
        <label class="h1">Sonido:</label>
        <button mat-raised-button *ngIf="isOn" color="warn" class="boton" (click)="state1()">
          <mat-icon>volume_up</mat-icon>
          Activado
        </button>
        <button mat-raised-button *ngIf="!isOn" color="warn" class="boton" (click)="state1()">
          <mat-icon>volume_off</mat-icon>
          Desactivado
        </button>
        <br />
        <br />
        <mat-divider></mat-divider>
        <br />
      </div>
    </mat-card-content>

    <mat-card-content>
      <div>
        <button mat-raised-button color="primary" routerLink="/opciones" routerLinkActive="active">
          <span class="h1" translate>Configurar color de barra de play</span>
        </button>
        <br />
        <br />
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>

    <mat-card-content>
      <div>
        <button mat-raised-button color="accent" routerLink="/home" routerLinkActive="active">
          <mat-icon>menu_book</mat-icon> <span class="h1" translate>&nbsp;&nbsp;GUIA</span>
        </button>
        <br />
        <br />
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>
  </mat-card>
</div>
