.container {
  text-align: center;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.705);
}

.mat-icon {
  vertical-align: middle;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 23px;
  margin-right: 10%;
}

.card {
  width: fit-content;
  height: fit-content;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 3%;
}

.card1 {
  width: fit-content;
  height: fit-content;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 3%;
}

.example-margin {
  margin: 0 10px;
}
h1,
.boton,
.boton-flecha {
  font-family: "Luckiest Guy", cursive;
}
.titulo {
  color: black;
  font-size: xxx-large;
  padding-bottom: 3%;
}
