<div class="container mat-typography" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%">
  <div id="container"></div>
  <h1 class="titulo">Opciones</h1>
  <br /><br />
  <mat-card class="card">
    <mat-card-content>
      <div>
        <label class="h1">Sonido:</label>
        <button mat-raised-button *ngIf="!isOn" color="warn" class="boton" (click)="state1()">
          Activado
        </button>
        <button mat-raised-button *ngIf="isOn" color="warn" class="boton" (click)="state1()">
          Desactivado
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
