@import "src/theme/theme-variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}
.mat-typography {
  background-image: url(https://images.pexels.com/photos/590022/pexels-photo-590022.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: 100%;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}
.title-card{
  background-color: rgb(206, 156, 206);
  width: 100%;
}
.mat-card-title{
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  color: rgb(255, 255, 255);
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-fields > :not(:last-child) {
  margin-bottom: 8px;
}

.login-error {
  color: mat-color($app-warn);
}
