h1,
.boton,
.boton-flecha {
  font-family: "Luckiest Guy", cursive;
  text-align: center;
}

.mat-success {
  background-color: rgb(0, 187, 0);
  color: #fff;
}

.boton-reiniciar,
.boton-volver {
  font-family: "Luckiest Guy", cursive;
  font-size: large;
  margin-left: 8%;
}
