<div class="container mat-typography" fxFill fxLayout="row" fxLayoutAlign="center center">
  <div *ngIf="secuencia" fxLayout="column" fxFill fxLayoutAlign="center center" fxLayoutGap="1vmin">
    <h1 fxFlex="5">{{ secuencia.nombre }}</h1>
    <div fxLayout="row" fxFlex="40" fxFill fxLayoutAlign="center center">
      <!--  <div class="acciones" fxLayout="row" fxLayoutAlign="center start" *ngFor="let acc of secuencia.acciones" fxFlex> -->
      <!--  <mat-card class="icon-card"> -->
      <img mat-card-image class="img-small" src="{{ imagenAnterior }}" />
      <img
        mat-card-image
        class="img"
        src="{{ imagenActual.src }}"
        (click)="ampliarPicto(secuencia.acciones[this.index])"
      />
      <img mat-card-image class="img-small" src="{{ imagenSiguiente }}" />
      <!--     <mat-card-subtitle class="card-text">{{ acc.nombre }}</mat-card-subtitle>

        </mat-card>    -->
      <!-- </div> -->
    </div>

    <div fxLayout="column" fxFlex="5" fxShow.sm="false" fxShow.gt-md="true" fxShow="true">
      <h4>{{ imagenActual.nombre }}</h4>
      <!--  <h1>{{tiempoActual}}</h1> -->
    </div>
    <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
    <div fxLayout="row" fxFlex="40vmin" fxFill class="container-load">
      <div *ngFor="let acc of secuencia.acciones">
        <app-loadBar
          [width]="width"
          [accion]="acc"
          (accionFinalizada)="accionFinalizada($event)"
          [duracionTotal]="duracionTotal"
        ></app-loadBar>
      </div>
    </div>

    <div fxLayout="row" fxFlex="20" fxFill fxLayoutAlign="center center">
      <div>
        <button *ngIf="!isPlayed" class="play-button" mat-raised-button (click)="play()" [color]="'success'">
          <mat-icon [inline]="true">
            play_arrow
          </mat-icon>
        </button>

        <button *ngIf="isPlayed" class="play-button" mat-raised-button (click)="pause()" color="warn">
          <mat-icon inline="true">
            pause
          </mat-icon>
        </button>
      </div>

      <div style="margin-left: 20vmin;" fxShow.sm="true" fxShow.gt-md="false" fxShow="false">
        <h4>{{ imagenActual.nombre }}</h4>
        <!--  <h1>{{tiempoActual}}</h1> -->
      </div>

      <button class="done-button" mat-raised-button (click)="done()" [color]="'done'">
        <mat-icon inline="true">
          fast_forward
        </mat-icon>
      </button>
    </div>
  </div>
</div>
