@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

.container {
  background-color: rgba(0, 0, 0, 0.705);
  padding: 3vmin;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  color: white;
  font-size: 11vmin;
  padding-bottom: 8vmin;
}
h4 {
  font-family: "Luckiest Guy", cursive;
  color: white;
  font-size: 6vmin;
}

.img {
  width: 30vmin;
  margin-left: 15vmin;
  margin-right: 15vmin;
  cursor: pointer;
}

.img-small {
  width: 15vmin;
  height: 15vmin;

  opacity: 50%;
}

.container-load {
  padding-left: 2%;
  padding-right: 2%;
}

.mat-done {
  background-color: rgb(0, 187, 0);
  color: #fff;
}

.mat-accent {
  background-color: rgb(241, 33, 33);
  color: #fff;
}

.mat-success {
  background-color: rgb(96, 178, 255);
  color: #fff;
}

.play-button {
  height: 15vmin;
  width: 15vmin;
  font-size: 12vmin;
  vertical-align: top;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.done-button {
  margin-left: 25vmin;
  height: 15vmin;
  width: 15vmin;
  font-size: 12vmin;
}

.icon {
  /*  display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle; */

  /* font-size: 100px;
  margin-right: 200px;
  padding-bottom: 100px; */
  /*transform: scale(3);*/
  /*display: inherit;*/
}
