<mat-toolbar class="mat-elevation-z6 navbar" [color]="'black'"
  ><!-- color="primary"  -->
  <div fxLayoutAlign="start center">
    <!-- <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <!-- <span class="title">{{ title }}</span> <div fxHide.gt-sm fxLayoutAlign="start center"> -->
  </div>
  <div>
    <!-- fxHide.lt-md -->
    <!-- <span translate>PictoTrainer</span> -->
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span class="menu" translate fxShow.lt-md="false">&nbsp;INICIO</span>
    </button>

    <button mat-button routerLink="/biblioteca" routerLinkActive="active">
      <mat-icon>library_books</mat-icon>
      <span class="menu" translate fxShow.lt-sm="false">&nbsp;BIBLIOTECA</span>
    </button>

    <button mat-button routerLink="/creador" routerLinkActive="active">
      <mat-icon>add_circle</mat-icon>
      <span class="menu" translate fxShow.lt-sm="false">&nbsp;CREAR</span>
    </button>

    <button mat-button routerLink="/progreso" routerLinkActive="active">
      <mat-icon>bar_chart</mat-icon>
      <span class="menu" translate fxShow.lt-sm="false">Progreso</span>
    </button>
  </div>
  <span fxFlex></span>
  <button mat-icon-button routerLink="/about" routerLinkActive="active">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Bienvenid@</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Cerrar sesión</button>
  </mat-menu>
</mat-toolbar>
