@import "src/theme/theme-variables";

@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.brand {
  color: mat-color($app-primary, "default-contrast");
  text-decoration: none;
  padding-right: 1rem;
}

.menu-button {
  margin-right: 1rem;
}

.menu {
  font-size: 4vmin;
  font-family: "Luckiest Guy", cursive;
}
.icon {
  font-size: 3vmin;
}

.mat-black {
  background-color: rgb(53, 2, 172);
  color: rgb(255, 255, 255);
}
