<div class="container mat-typography" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
  <div fxLayout="row" fxLayoutAlign="center" fxFlex="50">
    <button
      class=" boton "
      mat-raised-button
      color="primary"
      fxFlex="70"
      routerLink="/creador"
      routerLinkActive="active"
    >
      <div style="font-size: 10vmin;">PROGRAMAR</div>
      <br />
      <div style="font-size: 10vmin;">TAREA</div>
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxFlex="50">
    <button
      class="boton "
      mat-raised-button
      [color]="'success'"
      fxFlex="70"
      routerLink="/biblioteca"
      routerLinkActive="active"
    >
      PLAY
    </button>
  </div>
</div>
