<div class="container mat-typography" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
  <div fxLayout="row" fxLayoutAlign="center" fxFlex="50">
    <button
      class="mat-display-2 boton "
      mat-raised-button
      color="primary"
      fxFlex="70"
      routerLink="/creador"
      routerLinkActive="active"
    >
      PROGRAMAR TAREA
    </button>
    <!-- </div> -->
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxFlex="50">
    <button
      class="mat-display-1 boton-play "
      mat-raised-button
      [color]="'success'"
      fxFlex="70"
      routerLink="/biblioteca"
      routerLinkActive="active"
    >
      PLAY
    </button>
  </div>
</div>
